// Styles for links.
// Remember that these styles will also affect <a> tags such as anchors or ones you want to style as buttons
// Probably best to not define display: block !important; here!

a {

}

a:link {

}

a:hover {
 
}

a:active {

}

a:visited {

}
