// Style the highlight selection of web copy

  ::-moz-selection {
    color: $font_color-invert;
    background: $font_color-main;
  }
  ::selection {
      color: $font_color-invert;
      background: $font_color-main;
  }


// Reset headings
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    padding: 0;
    margin: 0;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

p {
  display: block;
  padding: 0;
  margin: 0;
}
